<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <img src="assets/images/angular-icon.svg" alt="logo" style="width:40px;">
    <a class="navbar-brand" href="#" style="margin-left: 10px;">Angular Reactive Forms</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Index</a>
      </li>
    </ul>
  </nav>
<!-- <p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/primeng.svg" height="40" style="margin-right: .5rem!important;">
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search">
    <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
  </ng-template>
</p-menubar> -->