<div class="container">
    <!-- <div class="jumbotron">
      <h1>Prime NG</h1>
      <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
    </div> -->
    <table class="table table-sm table-bordered" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Index</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td><a routerLink='/part1'>Creating Angular Project</a></td>
        </tr>
        <tr>
          <td>2.</td>
          <td><a routerLink='/part2'>Install Bootstrap For Angular</a></td>
        </tr>
        <tr>
          <td>3.</td>
          <td><a routerLink='/part3'>Angular Routing</a></td>
        </tr>
        <tr>
          <td>4.</td>
          <td><a routerLink='/part4'>Angular reactive forms</a></td>
        </tr>
        <tr>
          <td>5.</td>
          <td><a routerLink='/part5'>Angular Form Control And Form Group</a></td>
        </tr>
        <tr>
          <td>6.</td>
          <td><a routerLink='/part6'>Angular Nested Form Groups</a></td>
        </tr>
        <tr>
          <td>7.</td>
          <td><a routerLink='/part7'>Angular SetValue & PatchValue Method</a></td>
        </tr>
        <tr>
          <td>8.</td>
          <td><a routerLink='/part8'>Angular Form Builder Example</a></td>
        </tr>
        <tr>
          <td>9.</td>
          <td><a routerLink='/part9'>Angular Reactive Form Validation</a></td>
        </tr>
        <tr>
          <td>10.</td>
          <td><a routerLink='/part10'>Angular Form Control Value Changes</a></td>
        </tr>
        <tr>
          <td>11.</td>
          <td><a routerLink='/part11'>Loop Through All Form Controls In FormGroup In Reactive Form</a></td>
        </tr>
        <tr>
          <td>12.</td>
          <td><a routerLink='/part12'>Move validation messages to the component class in reactive form</a></td>
        </tr>
        <tr>
          <td>13.</td>
          <td><a routerLink='/part13'>Move validation logic to the component class in reactive form</a></td>
        </tr>
        <tr>
          <td>14.</td>
          <td><a routerLink='/part14'>Dynamically adding or removing form control validators in reactive form</a></td>
        </tr>
        <tr>
          <td>15.</td>
          <td><a routerLink='/part15'>Angular reactive form custom validator</a></td>
        </tr>
        <tr>
          <td>16.</td>
          <td><a routerLink='/part16'>Angular reactive form custom validator with parameter</a></td>
        </tr>
        <tr>
          <td>17.</td>
          <td><a routerLink='/part17'>How to make angular custom validator reusable</a></td>
        </tr>
        <tr>
          <td>18.</td>
          <td><a routerLink='/part18'>Angular reactive forms cross field validation</a></td>
        </tr>
        <tr>
          <td>19.</td>
          <td><a routerLink='/part19'>Angular formarray example</a></td>
        </tr>
        <tr>
          <td>20.</td>
          <td><a routerLink='/part20'>Creating formarray of formgroup objects in Angular</a></td>
        </tr>
        <tr>
          <td>21.</td>
          <td><a routerLink='/part21'>Angular dynamic forms tutorial</a></td>
        </tr>
      </tbody>
    </table>
  </div>
